// @import "~ag-grid-community/src/styles/ag-grid.scss";
// @import "~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin";

@import '~ag-grid-community/dist/styles/ag-grid.css';
@import '~ag-grid-community/dist/styles/ag-theme-alpine.css';




.p-background {
  text-align: center;
  
}

.ag-cell {
  // background-color: rgb(217, 85, 80);
}

.ag-header-cell {
  // background-color: rgb(217, 85, 80);
  
}
.ag-header-cell-label {
  // color: white;
  // font-size: 18px;
  // text-align: center !important;
  // font-weight: bold;
}

.p-background.red {
  background-color: rgb(217, 85, 80);
}

.p-background.green {
  background-color: rgb(76, 145, 149);
}
.p-background.blue {
  background-color: rgb(69, 124, 163);
}

.ag-row.red {
  background-color: rgb(217, 85, 80);
  
}

.red-cell {
  background-color: rgba(255, 255, 255, 0.1);
  color:white;
  font-weight: bold;
  font-size: 24px;
}

.gray-cell {
  color:gray;
}
.ag-row.green {
  background-color: rgb(76, 145, 149);
}
.ag-row.blue {
  background-color: rgb(69, 124, 163);
}

.p-container {
  background-color: rgba(255, 255, 255, 0.1);
    padding: 20px 0px 30px;
    border-radius: 6px;
    color:white;
    margin: 20px;
    max-width: 620px;
}

.p-title {
  
  // display: flex;
  // flex-direction: row;
  // justify-content: space-around;
}

.p-timer {
  font-size: 80px;
  font-weight: bold;
  // margin-top: 20px;
  margin: 30px;
}

.p-title-item {

    border: none;
    color: white;
    margin: 0px;
    border-radius: 4px;
    font-size: 16px;
    padding: 2px 12px;
    height: 28px;
    cursor: pointer;
    background: none;
    box-shadow: none;
    font-weight: 300;

}

.p-button {
    cursor: pointer;
    border: none;
    margin: 10px;
    border-radius: 4px;
    
    font-size: 16px;
    height: 40px;
    font-weight: bold;
    width: 100px;
    background-color: white;
    transition: color 0.5s ease-in-out 0s;

}
.p-button.red {
  color: rgb(217, 85, 80);
}

.p-button.green {
  color: rgb(76, 145, 149);
}
.p-button.blue {
  color: rgb(69, 124, 163);
}

.p-title-item.active {
 
    background: none rgba(0, 0, 0, 0.15);
    opacity: 1;
    font-weight: bold;

}


.grid-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

// .ag-theme-alpine {
//   @include ag-theme-alpine((
//       // use theme parameters where possible
//       foreground-color:white,
//       background-color: rgb(69, 124, 163),
//       header-background-color: rgb(69, 124, 163),
//       odd-row-background-color: rgb(69, 124, 163)
//   ));

//   .ag-header {
//       // or write CSS selectors to make customisations beyond what the parameters support
//       // background-color: rgb(76, 145, 149);
//       // color: white !important;
//   }

//   .ag-cell {
//     // background-color:  ;
//   }

//   .pomodoro-container {
//     flex-direction: column;
//     background-color: rgba(255, 255, 255, 0.1);
//   }

//   .pomodoro-title {
//     display: flex;
//     width:100%;
//     flex-direction: row;
//     align-content: center;
//     flex-wrap: nowrap;
//   }

//   .pomodoro-title > div {
//     margin: 0px 30px;
//   }

//   .pomodoro-container > button  {
//     justify-content: center;
//       cursor: pointer;
//       border: none;
//       margin: 20px 0px 0px;
//       padding: 0px 12px;
//       border-radius: 4px;
//       box-shadow: rgb(235, 235, 235) 0px 6px 0px;
//       font-family: ArialRounded;
//       font-size: 22px;
//       height: 55px;
//       color: rgb(69, 124, 163);
//       font-weight: bold;
//       width: 200px;
//       background-color: white;
//       transition: color 0.5s ease-in-out 0s;

//   }
// }

