// @import "~ag-grid-community/src/styles/ag-grid.scss";
// @import "~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin";

@import '~ag-grid-community/dist/styles/ag-grid.css';
@import '~ag-grid-community/dist/styles/ag-theme-alpine.css';

.p-background {
  text-align: center;
  display: flex;
  justify-content: center;
  transition: background-color 0.5s;
}

.p-container {
  background-color: rgba(255, 255, 255, 0.1);
  // background-color: #fffffffa;
    padding: 30px 20px;
    width: 400px;
    border-radius: 10px;
    // color:white;
    margin: 60px;
    max-width: 620px;
}

.p-title {
  padding-bottom: 10px;
}

// .show-container {
//   background-color: #fffffffa;
//   border-radius: 10px;
// }

.task-container {
  background-color: #fffffffa;
  // background-color: #00000060;
    opacity: 1;
    padding: 10px 10px;
    border-radius: 10px;
    text-align: left;
}

.p-background.red {
  background-color: rgb(217, 85, 80);
}

.p-background.green {
  background-color: rgb(76, 145, 149);
}
.p-background.blue {
  background-color: rgb(69, 124, 163);
}

.shade-cell {
  background-color: #ffffff1a;
  // color:white;
  font-weight: bold;
  font-size: 24px;
}

.gray-cell {
  color:gray;
}



.p-timer {
  font-size: 25px;
  font-weight: bold;
  // margin: 10px;
}

.p-title-item {

    border: none;
    color: white;
    margin: 0px;
    border-radius: 4px;
    font-size: 16px;
    padding: 2px 12px;
    height: 28px;
    cursor: pointer;
    background: none;
    box-shadow: none;
    font-weight: 300;

}

.btn-container {
  // height: 400px;
  // width: 100%;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
    // height: 61px;
    align-items: center;
    height: 100%;
}
.p-button {
    cursor: pointer;
    border: none;
    margin: 7px;
    border-radius: 4px;
    font-size: 15px;
    height: 25px;
    font-weight: bold;
    width: 90px;
    background-color: white;
    transition: color 0.5s ease-in-out 0s;

}
.p-button:disabled {
  background-color: rgba(239, 239, 239, 0.3);
  pointer-events: none;
  // background-color: #ff0000;
}

.p-title-item.active {
 
    background: none rgba(0, 0, 0, 0.15);
    opacity: 1;
    font-weight: bold;

}


.grid-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
